#DISCARD
#maps
bin/
commons-cli-1.4/
commons-io-2.6/
UnitTests/
src/donkey/
Original/
Matlab/*
lib/
out/
s2Output/

#extensions
*.class
*.s2
*.csv
*.zip
*.txt
*.aux
*.gz

#specific files
src/cli/CliDonkey.java

#INCLUDE
!Generated/generated.s2
!UnitInput/generated.csv
!UnitInput/generatedDelayed.csv
!UnitInput/generatedINFO.txt
!UnitInput/generatedTXT.txt
!UnitInput/cutedMiddle.csv
!UnitInput/cutted.txt
!UnitInput/cutted.s2
!Matlab/analyzeOne.m

#MISC
*.png
*.jpg
WEB/Examples.pdf
./s2Output/
debug*
